body {
    background-image: url("../images/background2.jpg");
    height: 100%;
    width: 100%;
    margin:0px;
    background-size: cover;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
 }

 .cards {
     flex: 1 0 calc(25% - 1em);
 }


